---
layout: archive
title: "Recent Projects"
permalink: /projects/
author_profile: true
redirect_from:
  - /projects
---

<p>Most of my featured projects are pinned in my github but not the ones below, so please take a look <a href="https://github.com/vincent40416">there</a>!</p>
<!-- <div>
  {% for post in site.portfolio %}
    {% include archive-single.html %}
  {% endfor %}
</div> -->
<p>Recent repositories I've built (pushed from GitHub).</p>
<div class="my-6">
  <!-- from https://github.com/github/personal-website/blob/746e8c2bb12135a61644cc808c238ddff9501e7b/_includes/projects.html -->
  <!-- <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Projects</h2> -->
  <div class="d-sm-flex flex-wrap gutter-condensed mb-4">
    {% if site.projects.sort_by == 'stars' %}
      {% assign sort_order = 'stargazers_count', 'last' %}
    {% else %}
      {% assign sort_order = 'pushed_at' %}
    {% endif %}

    {% if site.projects.exclude.archived && site.projects.exclude.forks %}
      {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
    {% elsif site.projects.exclude.archived %}
      {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
    {% elsif site.projects.exclude.forks %}
      {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
    {% else %}
      {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
    {% endif %}

    {% for repository in filtered_repos | limit: site.projects.limit %}
      {% unless site.projects.exclude.projects contains repository.name %}
        <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
          {% include repo-card.html %}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>




